trunk/SLARToolKit/Source/UWPBeginnersGuide/obj/
trunk/SLARToolKit/Source/UWPVideoCapture/ARM/
trunk/SLARToolKit/Source/UWPVideoCapture/Debug/
trunk/SLARToolKit/Source/UWPBeginnersGuide/bin/
trunk/SLARToolKit/Source/UWPARToolkit/obj/
trunk/SLARToolKit/Source/UWPARToolkit/bin/
trunk/SLARToolKit/Source/UWPVideoCapture/MediaStreamSink/Debug/
trunk/SLARToolKit/Source/UWPVideoCapture/MediaStreamSinkTest/obj/
trunk/SLARToolKit/Source/UWPVideoCapture/MediaStreamSinkTest/bin/
trunk/SLARToolKit/Solution/ARM/
*.ipch
trunk/SLARToolKit/Source/UWPARToolkit/bin/
trunk/SLARToolKit/Solution/Debug/
*.opendb
*.db
trunk/SLARToolKit/Source/SLARToolKit/Bin/
trunk/SLARToolKit/Source/SLARToolKit/obj/
